<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Тренинг</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>

<body>
	<!-- HEADER -->
	<header class="header">
		<div class="header__wrap">
			<div class="layout-center-wrapper">
				<div class="header__inner">
					<div class="header__left">
						<p class="header__author">Курс Александры Бланко</p>
						<h1 class="header__title">#БланкоИнтенсив</h1>
						<p class="header__slogan">Достижение мотивирующей цели в нужном окружении с опытными
							наставниками.</p>
						<!-- <p class="header__date">{{data["event"]["date"]}}</p> -->
						<button type="button" class="template-btn" id="headerToPaymentBtn">
							<span>Принять участие</span>
						</button>
						{% if data['admin'] %}
						<!-- EDIT TEMPLATE -->
						<br><br><a href="/manager/info"><button class="template-btn" type="button" id="" onclick="">
								<span>Изменить описание</span>
							</button></a>
						<!-- EDIT TEMPLATE -->
						{% end %}
					</div>
					<div class="header__right">
						<img src="img/header-intro.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<div style="background-image: url(img/header-bg.jpg);" class="header__bg-layout">
		</div>
	</header>

	<main>
		<!-- AUDIENCE -->
		<div class="audience">
			<div class="layout-center-wrapper">
				<h3 class="audience__title training-title">КОМУ БУДЕТ ПОЛЕЗЕН КУРС</h3>
				<ul class="audience__list">
					<li class="audience__item">
						<div class="audience__num"><span>1</span></div>
						<p class="audience__text">ПРЕДПРИНИМАТЕЛЯМ для лучшего управления бизнесом и командой,
							увеличения продаж и доходов, улучшение гармонии и баланса в жизни, проработка внутренней
							ценности и донесение своей ценности до партнеров/клиентов.</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>2</span></div>
						<p class="audience__text">СЕТЕВИКАМ для лучшего взаимодействия с командой, привлечения новых
							партнеров, прокачка самопрезентации, увеличения продаж и доходов, улучшение гармонии и
							баланса в жизни, проработка внутренней ценности и донесение своей ценности до
							партнеров/клиентов.</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>3</span></div>
						<p class="audience__text">ЭКСПЕРТАМ проработка внутренней ценности и донесение своей ценности до
							партнеров/клиентов, прокачка самопрезентации, проведения запоминающихся эфиров, курсов,
							увеличения продаж и доходов, улучшение гармонии и баланса в жизни.</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>4</span></div>
						<p class="audience__text">БЛОГЕРАМ для проведения запоминающихся творческих эфиров, для усиления
							монетизации своих услуг и построения надежной структуры бизнеса.</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>5</span></div>
						<p class="audience__text">НАЕМНЫМ СОТРУДНИКАМ для получения более высокооплачиваемой работы,
							получения повышения, невзирая на кризисы, проработка внутренней ценности и донесение своей
							ценности до партнеров/клиентов, прокачка самопрезентации.</p>
					</li>
				</ul>
			</div>
		</div>

		<!-- KNOWLEDGE -->
		<div class="knowledge">
			<div class="layout-center-wrapper">
				<h3 class="knowledge__title training-title">КАКИЕ РЕЗУЛЬТАТЫ ВЫ ПОЛУЧИТЕ</h3>
				<div class="knowledge__inner">
					<ul class="knowledge__list">
						<li class="knowledge__item">
							<div class="knowledge__num"><span>1</span></div>
							<p class="knowledge__text">Поставите мотивирующую цель на интенсив и достигните ее.</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>2</span></div>
							<p class="knowledge__text">Проработаете ваши убеждения.</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>3</span></div>
							<p class="knowledge__text">Осознаете, в чем перекос: каким сферам вы уделили мало внимания,
								где слишком напрягались. Сфокусируетесь на главном и перестаете делать лишние действия.
							</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>4</span></div>
							<p class="knowledge__text">Высвободите внутренний ресурс, проработав эмоциональный фон:
								обиды, чувство вины, чувство стыда, страхи с помощью простых и понятных инструментов.
							</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>5</span></div>
							<p class="knowledge__text">Прокачайтесь мощными практиками с тренингов Тони Роббинса</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>6</span></div>
							<p class="knowledge__text">Проработаете ролевые модели и увидите в каких ситуациях вы
								действуйте из чужой роли.</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>7</span></div>
							<p class="knowledge__text">Прокачайте Ваш эмоциональный интеллект.</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>8</span></div>
							<p class="knowledge__text">Вера и поддержка группы даст вам дополнительные силы, энергию и
								для достижения цели.</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>9</span></div>
							<p class="knowledge__text">Ресурсы группы (опыт, контакты, идеи и т.д.) дадут Вам
								дополнительные возможности для достижения целей.</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>10</span></div>
							<p class="knowledge__text">Регулярный мозговой штурм ваших целей с четкими и понятными
								шагами для реализации.</p>
						</li>
					</ul>

					<div class="knowledge__img-wrap">
						<img src="img/about.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<!-- MIDDLE TITLE -->
		<div class="middle-title" style="background-image: url(img/header-bg.jpg);">
			<div class="layout-center-wrapper">
				<div class="middle-title__inner">
					<div>
						<h1 class="middle-title__text">#БланкоИнтенсив</h1>
					</div>
					<button type="button" class="template-btn" id="middleToPaymentBtn">
						<span>Принять участие</span>
					</button>
				</div>
			</div>
		</div>

		<!-- VIDEO BLOCK -->
		<div class="video-block">
			<div class="layout-center-wrapper">
				<div class="video-block__inner">
					<div class="video-block__left">
						<h3 class="video-block__title">Специально для вас мы записали видео о&nbsp;курсе</h3>
					</div>
					<div class="video-block__right">
						<iframe class="video-block__frame" src="https://www.youtube.com/embed/GNjC5KCpTW0"
							frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen=""></iframe>
					</div>
				</div>
			</div>
		</div>

		<!-- CAUCH BLOCK -->
		<div class="coach-block">
			<div class="layout-center-wrapper">
				<h3 class="coach-block__title">Авторы и руководители курса</h3>
				<div class="coach-block__inner">
					<div class="coach-block__img-wrap">
						<img src="img/author.png" alt="">
					</div>
					<div class="coach-block__desc-wrap">
						<span class="coach-block__name">Александра Бланко</span>
						<p class="coach-block__text">Предприниматель</p>
						<p class="coach-block__text">Автор курса «Искусство выстраивать связи» </p>
						<p class="coach-block__text">Опыт - 15 лет экспертизы на международных рынках</p>
						<p class="coach-block__text">Достижения - Ментор для выпускников MBA, а также других программ в
							СКОЛКОВО и успешных бизнесменов</p>
						<p class="coach-block__text">“Влюбляет” в себя людей и заключать многомиллионные контракты даже
							после одной встречи.</p>
						<p class="coach-block__text">Сделала стартап монополистом, который заходил на зрелый и высоко
							конкурентный рынок.</p>
						<p class="coach-block__text">Успешно прошла 2 кризиса и вывела компании в ТОП.</p>
						<p class="coach-block__text">Вывела филиал в России на 1-е место в Мире по прибыльности.</p>
					</div>
				</div>
				<div class="coach-block__inner">
					<div class="coach-block__img-wrap">
						<img src="img/author2.png" alt="">
					</div>
					<div class="coach-block__desc-wrap">
						<span class="coach-block__name">Давид Бланко</span>
						<p class="coach-block__text">Предприниматель</p>
						<p class="coach-block__text">Опыт - 15 лет экспертизы на международных рынках</p>
						<p class="coach-block__text">Достижения - Модерирует мастермайнд-группы с 2016 года. Модерировал
							бизнес-группы на бизнес-форумах Атланты, Synergy, Meetpartners и т.д.</p>
						<p class="coach-block__text">Глубоко изучал Кармический Менеджмент Майкла Роуча – модерировал
							группы развития Кармического Менеджмента.</p>
						<p class="coach-block__text">Международный Эриксоновский Университет Коучинга включая обучение
							лично у основательницы - Мэрилин Аткинсон.</p>
						<p class="coach-block__text">Состоял в годовом Мастермайнде у Гила Петерсила</p>
						<p class="coach-block__text">Большой опыт работы работы с ключевыми клиентами в
							транснациональных корпорациях Ernst & Young, British American Tobacco, Bacardi Group и др.
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- FOOTER -->
	<footer class="footer" style="background-image: url(img/footer-bg.jpg);">
		<div class="layout-center-wrapper">
			<div class="footer__inner">
				<div class="footer__tarif-wrap">
					<h4 class="footer__list-title">Тариф «VIP»</h4>
					<ul class="footer__list">
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Восемь практических встреч и одна (девятая) встреча для подведения итогов </p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Постоянная поддержка группы и кураторов.</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Доступ к чату выпускников программы #БланкоИнтенсив.
							</p>
						</li>
					</ul>

					<!-- <h4 class="footer__list-title">Тариф «Премиум»:</h4>
					<ul class="footer__list">
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Все, что входит в модуль СТАНДАРТ</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Личное сопровождение курса от автора </p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Дополнительный модуль: " законы отношений в мужчина -женщина"”</p>
						</li>
					</ul> -->
				</div>

				<!-- PAYMENT BLOCK -->
				<div class="payment" id="paymentBlock">
					<div class="payment__header">
						<span class="payment__text">Стоимость тренинга:</span>
						<span class="payment__amount">{{item['price']}} ₽</span>
					</div>

					{% if lead_promo %}
					<div class="payment__inner">
						<div class="payment__btns-wrap">
							<button class="template-btn" type="button" id="cardBtn">
								<span>Оплатить картой</span>
							</button>

							<img src="img/visa-logo.svg" alt="visa">
						</div>
						<div class="payment__btns-wrap">
							<button class="template-btn" type="button" id="ntzdBtn">
								<span>Оплатить в ntz</span>
							</button>
							<img src="img/ntz-logo.svg" alt="visa">
						</div>
					</div>

					{% else %}
					<div class="non-ref">
						<p class="non-ref__text">Для совершения покупки Вам необходима реферальная ссылка. Для её
							получения обратитесь к тому, кто Вам посоветовал этот товар или найдите ссылку в инстаграме
							по хештегу
							<a href="https://www.instagram.com/explore/tags/netizensteam/">#netizensteam</a>
						</p>
					</div>
					{% end %}
				</div>
			</div>
		</div>

		<!-- GOODS BLOCK ! IMPORTANT-->
		<input type="hidden" name="item_number" id="tiktok-instagram_ticket" class="items_quantity" value=1 min=1
			disabled data-price="2400" data-old_price="2400"
			data-name="Академия &quot;Запусти свой ТикТок + Инстаграм&quot; «Стандарт»" data-image="">

		<input type="hidden" name="item_number" id="tiktok-instagram_ticket2" class="items_quantity2" value=1 min=1
			disabled data-price="6600" data-old_price="6600"
			data-name="Академия &quot;Запусти свой ТикТок + Инстаграм&quot; «Премиум»" data-image="">
		<!-- GOODS BLOCK ! IMPORTANT-->

		<!-- POLICY BLOCK -->
		<div class="footer__policy">
			<div class="layout-center-wrapper">
				<div class="footer__policy-inner">
					<span class="footer__policy-left">&copy; Official partner of the Netizens ecosystem</span>
					<div class="footer__policy-right">
						<a href="docs/политика конфиденциальности.pdf" class="footer__link" download="">Политика
							конфиденциальности</a>
					</div>
				</div>
			</div>
		</div>

		<div class="form__overlay" id="formOverlay"></div>
		<div class="form__overlay" id="formOverlay2"></div>

		<!-- RUR FORM -->
		<div class="form__wrap" id="paymentFormRUR">
			<form action="#" class="form">
				<span class="form__close-btn" id="closeRurForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userNameFormRUR">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhoneFormRUR">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmailFormRUR">

					<button id="send_rur" class="form__btn template-btn noselect" type="button"
						onclick="addOrder('FormRUR')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>
				</div>
			</form>
		</div>

		<!-- NTZ FORM -->
		<div class="form__wrap" id="paymentFormNTZ">
			<form action="#" class="form">
				<span class="form__close-btn" id="closeNTZForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="login" value="{{lead_login}}" type="text" placeholder="Ваш логин в ntz.team" required
						class="form__field" id="userLoginFormNTZ">

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userNameFormNTZ">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhoneFormNTZ">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmailFormNTZ">

					<button id="send_ntz" class="form__btn template-btn noselect" type="button"
						onclick="addOrder('FormNTZ')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>

					{% if lead_promo %}
					<span class="form__control">Контрольное слово: {{lead_promo}}</span>
					{% end %}
				</div>
			</form>
		</div>

		<!-- RUR FORM -->
		<div class="form__wrap" id="payment2FormRUR">
			<form action="#" class="form">
				<span class="form__close-btn" id="close2RurForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userName2FormRUR">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhone2FormRUR">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmail2FormRUR">

					<button id="send_rur2" class="form__btn template-btn noselect" type="button"
						onclick="addOrder2('FormRUR')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>
				</div>
			</form>
		</div>

		<!-- NTZ FORM -->
		<div class="form__wrap" id="payment2FormNTZ">
			<form action="#" class="form">
				<span class="form__close-btn" id="close2NTZForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="login" value="{{lead_login}}" type="text" placeholder="Ваш логин в ntz.team" required
						class="form__field" id="userLogin2FormNTZ">

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userName2FormNTZ">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhone2FormNTZ">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmail2FormNTZ">

					<button id="send_ntz2" class="form__btn template-btn noselect" type="button"
						onclick="addOrder2('FormNTZ')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>

					{% if lead_promo %}
					<span class="form__control">Контрольное слово: {{lead_promo}}</span>
					{% end %}
				</div>
			</form>
		</div>

	</footer>
	<script src="js/jquery.min.js"></script>
	<script src="js/base.js"></script>
	<script src="js/api.js"></script>

</body>

</html>